<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neat.activity">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.neat.activity.NotesListActivity"
            android:label="@string/title_main_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddEditNoteActivity"
            android:theme="@style/AppTheme"
            android:label="@string/title_add_new_notes_activity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.neat.provider.NeatDataContentProvider"
            android:authorities="com.neat.provider"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>